<html>
<head>
<title>{sitename}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="{path}slim.css" rel="stylesheet" type="text/css">
</head>

<body>
<table width="750" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><h2 align="center">{sitename}</h2></td>
  </tr>
  <tr>
    <td><div align="center"><a href="{path}index.php">Home</a> | <a href="{path}features.php">Features</a> | <a href="{path}affiliates.php">Affiliates</a> | <a href="{path}signin.php">Members</a> | <a href="{path}contact.php">Contact</a>      <hr>
    </div></td>
  </tr>
   <tr>
    <td><div align="left"><b>{campaign}</b></div></td>
  </tr>
 <tr>
    <td><div align="center">{content}</div></td>
  </tr>
  <tr>
    <td><div align="center">
      <hr>
      <a href="{path}index.php">Home</a> | <a href="{path}features.php">Features</a> | <a href="{path}affiliates.php">Affiliates</a> | <a href="{path}signin.php">Members</a> | <a href="{path}contact.php">Contact</a> 
              
    </div></td>
  </tr>
</table>
<div align="center">
(c)  2003 {sitename}<br>
Powered by <a href="http://www.AlstraSoft.com">AlstraSoft.com</a></div>
</body>
</html>