      <blockquote>
        <blockquote>
          <p><br>
            <font size="2"><br>
            <br>
            <br>
            As
            a <strong>{sitename}</strong> member,
            you are automatically registered as a <strong>{sitename}</strong>            affiliate.
            Simply promote the service using your personalized affiliate link
            and earn commissions when your referrals use the service.
            <br>
            <br>
            The affiliate program works like a tree. You can have as much as
            6 levels affiliates and the comisions for them are:</font>              </p>
          <p align="center"><font size="2"><br>
              <strong>Level1: <font color="#FF0000">$5</font><br>
              Level2: <font color="#FF0000">$4</font><br>
              Level3: <font color="#FF0000">$3</font><br>
              Level4: <font color="#FF0000">$2</font><br>
              Level5: <font color="#FF0000">$1</font><br>
              Level6: <font color="#FF0000">$0.5</font></strong></font></p>
        </blockquote>
      </blockquote>
      <p></p>