      <div align="center">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong><font size="2">Contact {sitename}:</font></strong></p>
        <p>&nbsp;</p>
        <p><strong><font size="2">E-Mail: <a href="mailto:webmaster@{sitename}">webmaster@{sitename}</a></font></strong></p>
        <p><font size="2"><strong>Phone: 222 - 222.222</strong></font></p>
        <p><font size="2"><strong>Fax: 222 - 222.222</strong></font></p>
        <p>&nbsp;</p>
        <p><strong><font size="2">Private Label, Joint Venture, Strategic Alliances:</font></strong></p>
        <p><font size="2"><br>
            <strong>E-Mail: <font size="2"><a href="mailto:webmaster@{sitename}">webmaster@{sitename}</a></font></strong></font></p>
        <p>&nbsp;</p>
        <p><font size="2"><strong>Mailing Address:</strong></font></p>
        <p><strong><font size="2"><br>
          {sitename} Systems, Inc.<br>
          USA</font></strong></p>
        <p><strong><font size="2"><a href="http://www.{sitename}">http://www.{sitename}</a></font><br>
        </strong>        </p>
      </div>