      <blockquote>
        <p><strong><font color="#0000FF"><br>
            <br>
            Edit Autoresponders
          </font></strong></p>
        <p>Create and edit Autoresponders in your account (both instant response
            and follow-ups); these are the Autoresponders that your autoresponder
            will send out once its triggered ('instant response') and follow-ups
            delivered at preset time intervals </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong><font color="#0000FF">Test Autoresponders</font></strong></p>
        <p>Lets you test your {sitename} account by sending all saved messages
            to an e-mail address of your choice, so that you don't have to wait days
            before all follow-ups are delivered </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong><font color="#0000FF">Send Broadcast</font></strong></p>
        <p>This feature lets you broadcast an e-mail ('a manual follow-up') to
            your mailing list; you can use this to announce new products, send out
            newsletters, notify your prospects about special offers etc. </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><font color="#0000FF"><strong>Edit Newsletters</strong></font></p>
        <p>Create and edit newsletters in your account (both instant response and
            follow-ups); these are the newsletters that your autoresponder will send
            out once its triggered ('instant response') and follow-ups delivered
            at preset time intervals </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><font color="#0000FF"><strong>Test Newsletters</strong></font></p>
        <p>Lets you test your {sitename} account by sending all saved newsletters
            to an e-mail address of your choice, so that you don't have to wait days
            before all follow-ups are delivered </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong><font color="#0000FF">Send Broadcast</font></strong></p>
        <p>This feature lets you broadcast an e-mail ('a manual follow-up') to
            your mailing list; you can use this to announce new products, send out
            newsletters, notify your prospects about special offers etc. </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><font color="#0000FF"><strong>Active Prospects</strong></font></p>
        <p>Lists all active prospects (people who have triggered your autoresponder
            recently and are in your autoresponder cycle, waiting for all follow-ups
            to be delivered) and lets you edit/remove entries; you may also add more
            prospects manually (granted you have their permission) </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong><font color="#0000FF">Mailing List</font></strong></p>
        <p>Shows your account's mailing list (all people who have triggered your
            account in the past, not just the active prospects); you can edit/remove/import
            entires </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><font color="#0000FF"><strong>Removals</strong></font></p>
        <p>Shows a list of e-mail addresses of people who removed themselves from
            your autoresponder, by clicking on the link that's added automatically
            to the end of your Autoresponders </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong><font color="#0000FF">Undeliverables</font></strong></p>
        <p>Views a list of e-mails that were rejected ('bounced-back') by the e-mail
            system, because for example your prospective customer changed her e-mail
            address </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><font color="#0000FF"><strong>Tracking</strong></font></p>
        <p>Helps you determine where your prospects came from; </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong><font color="#0000FF">Variables</font></strong></p>
        <p>This is your list of custom variables. Each variable is also accompanied
            with by its description. You can edit and/or remove variables from this
            screen. </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><font color="#0000FF"><strong>HTML Form</strong></font></p>
        <p>From here you can generate HTML code to be placed on your web site that
            will automatically add prospects to your autoresponder. The code is copied
            onto the appropriate page of your web site. When a prospect clicks on
            the link his/she is prompted for their name and email. This information
            is then added to your active prospects list. </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong><font color="#0000FF">Edit Settings</font></strong></p>
        <p>This page enables you to edit some vital settings of your account. </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><br>
          </p>
      </blockquote>
    </blockquote>