  <p align="center">&nbsp;</p>
          <p align="center"><font size="2"><strong><br>
            <br>
          Skyrocket</strong> your sales with <strong>{sitename}</strong>.com,
                    the professional autoresponder service.<br>
            <br>
            Statistics show that 80% of sales are made after the 5th contact with
                        a prospective customer. <strong>{sitename}</strong> will automate this tedious task
                        for you! Your time can now be spent on more profitable tasks. <br>
          <br>
                        <br>
            All successful internet businesses use autoresponders. <strong>{sitename}</strong>.com is
                    the professional choice for professional businesses.<br>
                                                        </font> </p>
          <p>&nbsp;</p>
          <table width="90%" border="0" align="center" cellpadding="0" cellspacing="1">
            <tr>
              <td width="30%" class="intro"><div align="left"><a href="signup.php"><img src="images/signup.jpg" width="162" height="49" border="0"></a></div></td>
              <td width="30%" class="intro"><div align="left"><a href="signin.php"><img src="images/members.jpg" width="128" height="49" border="0"></a></div></td>
              <td width="30%"><div align="left"><font size="2"><a href="order.htm"><img src="images/learn%20more.jpg" width="171" height="49" border="0"></a></font></div></td>
            </tr>
            <tr>
              <td height="112" class="intro"><blockquote>
                <div align="left"><font color="#999999">- Limited to one autoresponse message and
                    six follow up messages and only one campaign per account.<br>
                  - Limited to 2,500 subscribers</font><br>
                </div>
              </blockquote></td>
              <td class="intro"><blockquote>
                <p><font color="#6699CC">-Manage your Autoresponders, send broadcasts, attach files,...<br>
  -Manage your newsletters.<br>
                  -Manage your active prospects, manage mailing list,...<br>
                </font>                </p>
              </blockquote>
              </td>
              <td><blockquote>
                <p><font color="#FF6600">-Learn what our <font size="2">professional autoresponder service
                    can do.</font></font></p>
                <p><font color="#FF6600">-See how you can promote your business with <strong>{sitename}</strong>.</font></p>
              </blockquote>
              </td>
            </tr>
          </table>
          <p>&nbsp;</p>